body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Navigation Bar */
  
  #home {
    background-color:  #038C5A;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 1cm;
    padding-bottom: 3cm;
    height: 10mm;
    display: flex;
    flex-direction: row;
   }

   .topleftdiv {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 40%;
   }
  
  .topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  .topmenu:hover {
    color: white;
    /* Add the styles here */
    font-weight: bolder;
    text-decoration: underline;
  }
  
  .topdiv {
    float: right;
    padding-right: 1cm;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
  
  .profile_name {
    float: left;
    padding-left: 2cm;
    /* Add the styles here */
    color: #F2F2F2;
    font-size: 30px;
  }
  
  .profile_name .contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;
  }
  
  /* Titles */
  
  h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #038C5A;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .introduction {
    text-align: justify;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
  }
  
  /* Used in the About Me sections */
  
  .container {
    display: flex;
  }
  
  /* About Me */
  
  .about-me {
    display: flex;
    align-items: center;
  }
  
  #about-me h1 {
    font-size: 65px;
    margin-top: 90px;
    color: #038C5A;
  }
  
  #about-me p {
    font-size: 25px;
    color: rgb(128, 128, 128);
    margin-top: -1cm;
  }
  
  .profile_image {
    width: 550px;
    height: fit-content;
    vertical-align: middle;
    margin: 5px;
  }
  
  /* Skills */
  
  .all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 30px;
    box-shadow: 0 3px 10px gray;
  }
  
  .skill img {
    height: 100px;
    max-width: 100%;
    align-items: center;
  }
  
  .skills h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  .skills p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Projects */
  
  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .projects-container hr {
    border: 1px solid lightgray;
    width: 75%;
    margin-left: 5cm;
  }
  
  .project-card {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
    border-radius: 6px;
  }

  .project-card:hover {
    background-color: #038c5a8a;
  }
  
  .project-card h3 {
    font-size: 25px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 20px;
    margin-left: 30px;
  }
  
  /* Scroll to Top Button */
  
  .iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #038C5A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }
  
  /* Buttons */
  
  button {
    background-color: #fff;
    border: 1px solid #038C5A;
    color: #038C5A;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #038C5A;
    border: 1px solid #038C5A;
    color: #fff;
    display: block;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
  }

  /* Education */

  .all-education {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  .education {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 3px 10px gray;
  }

  .education:hover {
    background-color: #038c5a8a;
  }

  .education img {
    width: 300px;
  }

  .education-info {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
  }

  .education-info div {
    display: flex;
    flex-direction: row;
  }

  .education-info h3 {
    font-size: 40px;
  }

  .education-info h4 {
    font-size: 30px;
  }

  .education-info h3, h4 {
    font-style: italic;
    margin: 30px;
  }

  /* Certifications */

  .all-certifications {
    display: flex;
    flex-direction: column;
  }

  .certification {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 3px 10px gray;
  }

  .certification-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .certification-info div {
    margin: 20px;
    font-size: 30px;
    text-align: right;
  }

  .certification:hover {
    background-color: #038c5a8a;
  }

  footer {
    width: 100%;
    height: 48px;
    background-color: #038C5A;
    color: white;
    font-size: 20px;
    padding: 10px 2cm 10px;
    display: flex;
    align-items: center;
    margin: 0cm -1cm -1cm;
  }

/* Socials */

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #socials-menu {
    position: fixed;
    top: 0;
    left: -120%; /* Initially position it off-screen to the left */
    width: 100%;
    height: 25%;
    background-color: #038c5abd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 33%;
    height: 80%;
  }

  .social:hover {
    background-color: #038c5a85;
    cursor: pointer;
  }

  .social-text {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
